@charset "UTF-8";
/*****************************
  Clientlibs config
 *****************************/
/*
 setting
 （上書き禁止）
 */
/*
 common veriable
 （共通変数・任意）
 */
/* design foundation */
/*****************************
  principles
 *****************************/
/*
 design principles
 （サイト、ページ別に上書きを許可）
 */
/*****************************
  Content Color set (light)
 *****************************/
/* Body */
/* Brand Header */
/* Local Navigation */
/* Breadcrumbs */
/* Contents Area */
/* Link */
/* Button */
/* Accordion */
/* TileLink */
/* NewsIndex */
/* TelephoneCallItem */
/* FullwidthVisuals&Carousel */
/* Label/Tag */
/* DefinitionList */
/* Brand Footer */
/* Page Top */
/* Option */
/*****************************
  principles font-family ゴシック
 *****************************/
/*
 KMS-font-family
 @param $fontType (title, subTitle, body)
*/
/*
 KMS-font-size
 @param $fontType (headline3, longcopy)
*/
/*
 Break-Point
 @param $point (sm, md, lg)
 */
/*
 Font-Size
 @param $level
        (lv1, lv2, lv3, lv4, lv5, lv6, body, caption)
 */
/*
 Link
 */
/*
 AreaLink
 */
/*
 Button
 */
/*
  gutterWrapper (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterInner (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterItemWrapperに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  gutterInnerに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  上マージン.
  @param $level s,m,l,xl
*/
/*
  下マージン.
  @param $level s,m,l,xl
*/
/*
  左マージン.
  @param $level s,m,l,xl
*/
/*
  右マージン.
  @param $level s,m,l,xl
*/
/*
 Corner Radius（※廃止予定）
 @param $size (ss, s, m, l, ll)
 */
/*
 Image(or Movie) Text Pack(Horizontal)内のHeadingTitle
 @param $imagePosition(left, right)
 */
/*
 Map Access Pack(Horizontal)内のHeadingTitle
 @param $mapPosition(left, right)
 */
/*
  シャドウ.
  @param $pattern A,B,none
*/
/*
  ボタン用シャドウ.
  @param $visible true,false
*/
/* Setting ============================================================ */
html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background: #FFF;
}

/* Wrapper ============================================================ */
