@charset "UTF-8";
/*****************************
  Clientlibs config
 *****************************/
/*
 setting
 （上書き禁止）
 */
/*
 common veriable
 （共通変数・任意）
 */
/* design foundation */
/*****************************
  principles
 *****************************/
/*
 design principles
 （サイト、ページ別に上書きを許可）
 */
/*****************************
  Content Color set (light)
 *****************************/
/* Body */
/* Brand Header */
/* Local Navigation */
/* Breadcrumbs */
/* Contents Area */
/* Link */
/* Button */
/* Accordion */
/* TileLink */
/* NewsIndex */
/* TelephoneCallItem */
/* FullwidthVisuals&Carousel */
/* Label/Tag */
/* DefinitionList */
/* Brand Footer */
/* Page Top */
/* Option */
/*****************************
  principles font-family ゴシック
 *****************************/
/*
 KMS-font-family
 @param $fontType (title, subTitle, body)
*/
/*
 KMS-font-size
 @param $fontType (headline3, longcopy)
*/
/*
 Break-Point
 @param $point (sm, md, lg)
 */
/*
 Font-Size
 @param $level
        (lv1, lv2, lv3, lv4, lv5, lv6, body, caption)
 */
/*
 Link
 */
/*
 AreaLink
 */
/*
 Button
 */
/*
  gutterWrapper (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterInner (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterItemWrapperに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  gutterInnerに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  上マージン.
  @param $level s,m,l,xl
*/
/*
  下マージン.
  @param $level s,m,l,xl
*/
/*
  左マージン.
  @param $level s,m,l,xl
*/
/*
  右マージン.
  @param $level s,m,l,xl
*/
/*
 Corner Radius（※廃止予定）
 @param $size (ss, s, m, l, ll)
 */
/*
 Image(or Movie) Text Pack(Horizontal)内のHeadingTitle
 @param $imagePosition(left, right)
 */
/*
 Map Access Pack(Horizontal)内のHeadingTitle
 @param $mapPosition(left, right)
 */
/*
  シャドウ.
  @param $pattern A,B,none
*/
/*
  ボタン用シャドウ.
  @param $visible true,false
*/
/* ------------------------- TOC
Almighty
 - Margin
 - Padding
 - Width
 - Background-color
 - Text-align
 - Font-Size
 - Font-Color
-------------------------- */
/* Hide ============================== */
@media only screen and (min-width: 1025px) {
  .opt-hide-lg {
    display: none;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-hide-md {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .opt-hide-sm {
    display: none;
  }
}

/* Margin/Padding ====================== */
.opt-mg0 {
  margin: 0px;
}

.opt-mg0--imp {
  margin: 0px !important;
}

.opt-mt0 {
  margin-top: 0px;
}

.opt-mt0--imp {
  margin-top: 0px !important;
}

.opt-ml0 {
  margin-left: 0px;
}

.opt-ml0--imp {
  margin-left: 0px !important;
}

.opt-mr0 {
  margin-right: 0px;
}

.opt-mr0--imp {
  margin-right: 0px !important;
}

.opt-mb0 {
  margin-bottom: 0px;
}

.opt-mb0--imp {
  margin-bottom: 0px !important;
}

.opt-pd0 {
  padding: 0px;
}

.opt-pd0--imp {
  padding: 0px !important;
}

.opt-pt0 {
  padding-top: 0px;
}

.opt-pt0--imp {
  padding-top: 0px !important;
}

.opt-pl0 {
  padding-left: 0px;
}

.opt-pl0--imp {
  padding-left: 0px !important;
}

.opt-pr0 {
  padding-right: 0px;
}

.opt-pr0--imp {
  padding-right: 0px !important;
}

.opt-pb0 {
  padding-bottom: 0px;
}

.opt-pb0--imp {
  padding-bottom: 0px !important;
}

.opt-mg10 {
  margin: 10px;
}

.opt-mg10--imp {
  margin: 10px !important;
}

.opt-mt10 {
  margin-top: 10px;
}

.opt-mt10--imp {
  margin-top: 10px !important;
}

.opt-ml10 {
  margin-left: 10px;
}

.opt-ml10--imp {
  margin-left: 10px !important;
}

.opt-mr10 {
  margin-right: 10px;
}

.opt-mr10--imp {
  margin-right: 10px !important;
}

.opt-mb10 {
  margin-bottom: 10px;
}

.opt-mb10--imp {
  margin-bottom: 10px !important;
}

.opt-pd10 {
  padding: 10px;
}

.opt-pd10--imp {
  padding: 10px !important;
}

.opt-pt10 {
  padding-top: 10px;
}

.opt-pt10--imp {
  padding-top: 10px !important;
}

.opt-pl10 {
  padding-left: 10px;
}

.opt-pl10--imp {
  padding-left: 10px !important;
}

.opt-pr10 {
  padding-right: 10px;
}

.opt-pr10--imp {
  padding-right: 10px !important;
}

.opt-pb10 {
  padding-bottom: 10px;
}

.opt-pb10--imp {
  padding-bottom: 10px !important;
}

.opt-mg20 {
  margin: 20px;
}

.opt-mg20--imp {
  margin: 20px !important;
}

.opt-mt20 {
  margin-top: 20px;
}

.opt-mt20--imp {
  margin-top: 20px !important;
}

.opt-ml20 {
  margin-left: 20px;
}

.opt-ml20--imp {
  margin-left: 20px !important;
}

.opt-mr20 {
  margin-right: 20px;
}

.opt-mr20--imp {
  margin-right: 20px !important;
}

.opt-mb20 {
  margin-bottom: 20px;
}

.opt-mb20--imp {
  margin-bottom: 20px !important;
}

.opt-pd20 {
  padding: 20px;
}

.opt-pd20--imp {
  padding: 20px !important;
}

.opt-pt20 {
  padding-top: 20px;
}

.opt-pt20--imp {
  padding-top: 20px !important;
}

.opt-pl20 {
  padding-left: 20px;
}

.opt-pl20--imp {
  padding-left: 20px !important;
}

.opt-pr20 {
  padding-right: 20px;
}

.opt-pr20--imp {
  padding-right: 20px !important;
}

.opt-pb20 {
  padding-bottom: 20px;
}

.opt-pb20--imp {
  padding-bottom: 20px !important;
}

.opt-mg30 {
  margin: 30px;
}

.opt-mg30--imp {
  margin: 30px !important;
}

.opt-mt30 {
  margin-top: 30px;
}

.opt-mt30--imp {
  margin-top: 30px !important;
}

.opt-ml30 {
  margin-left: 30px;
}

.opt-ml30--imp {
  margin-left: 30px !important;
}

.opt-mr30 {
  margin-right: 30px;
}

.opt-mr30--imp {
  margin-right: 30px !important;
}

.opt-mb30 {
  margin-bottom: 30px;
}

.opt-mb30--imp {
  margin-bottom: 30px !important;
}

.opt-pd30 {
  padding: 30px;
}

.opt-pd30--imp {
  padding: 30px !important;
}

.opt-pt30 {
  padding-top: 30px;
}

.opt-pt30--imp {
  padding-top: 30px !important;
}

.opt-pl30 {
  padding-left: 30px;
}

.opt-pl30--imp {
  padding-left: 30px !important;
}

.opt-pr30 {
  padding-right: 30px;
}

.opt-pr30--imp {
  padding-right: 30px !important;
}

.opt-pb30 {
  padding-bottom: 30px;
}

.opt-pb30--imp {
  padding-bottom: 30px !important;
}

.opt-mg40 {
  margin: 40px;
}

.opt-mg40--imp {
  margin: 40px !important;
}

.opt-mt40 {
  margin-top: 40px;
}

.opt-mt40--imp {
  margin-top: 40px !important;
}

.opt-ml40 {
  margin-left: 40px;
}

.opt-ml40--imp {
  margin-left: 40px !important;
}

.opt-mr40 {
  margin-right: 40px;
}

.opt-mr40--imp {
  margin-right: 40px !important;
}

.opt-mb40 {
  margin-bottom: 40px;
}

.opt-mb40--imp {
  margin-bottom: 40px !important;
}

.opt-pd40 {
  padding: 40px;
}

.opt-pd40--imp {
  padding: 40px !important;
}

.opt-pt40 {
  padding-top: 40px;
}

.opt-pt40--imp {
  padding-top: 40px !important;
}

.opt-pl40 {
  padding-left: 40px;
}

.opt-pl40--imp {
  padding-left: 40px !important;
}

.opt-pr40 {
  padding-right: 40px;
}

.opt-pr40--imp {
  padding-right: 40px !important;
}

.opt-pb40 {
  padding-bottom: 40px;
}

.opt-pb40--imp {
  padding-bottom: 40px !important;
}

.opt-mg50 {
  margin: 50px;
}

.opt-mg50--imp {
  margin: 50px !important;
}

.opt-mt50 {
  margin-top: 50px;
}

.opt-mt50--imp {
  margin-top: 50px !important;
}

.opt-ml50 {
  margin-left: 50px;
}

.opt-ml50--imp {
  margin-left: 50px !important;
}

.opt-mr50 {
  margin-right: 50px;
}

.opt-mr50--imp {
  margin-right: 50px !important;
}

.opt-mb50 {
  margin-bottom: 50px;
}

.opt-mb50--imp {
  margin-bottom: 50px !important;
}

.opt-pd50 {
  padding: 50px;
}

.opt-pd50--imp {
  padding: 50px !important;
}

.opt-pt50 {
  padding-top: 50px;
}

.opt-pt50--imp {
  padding-top: 50px !important;
}

.opt-pl50 {
  padding-left: 50px;
}

.opt-pl50--imp {
  padding-left: 50px !important;
}

.opt-pr50 {
  padding-right: 50px;
}

.opt-pr50--imp {
  padding-right: 50px !important;
}

.opt-pb50 {
  padding-bottom: 50px;
}

.opt-pb50--imp {
  padding-bottom: 50px !important;
}

.opt-mg60 {
  margin: 60px;
}

.opt-mg60--imp {
  margin: 60px !important;
}

.opt-mt60 {
  margin-top: 60px;
}

.opt-mt60--imp {
  margin-top: 60px !important;
}

.opt-ml60 {
  margin-left: 60px;
}

.opt-ml60--imp {
  margin-left: 60px !important;
}

.opt-mr60 {
  margin-right: 60px;
}

.opt-mr60--imp {
  margin-right: 60px !important;
}

.opt-mb60 {
  margin-bottom: 60px;
}

.opt-mb60--imp {
  margin-bottom: 60px !important;
}

.opt-pd60 {
  padding: 60px;
}

.opt-pd60--imp {
  padding: 60px !important;
}

.opt-pt60 {
  padding-top: 60px;
}

.opt-pt60--imp {
  padding-top: 60px !important;
}

.opt-pl60 {
  padding-left: 60px;
}

.opt-pl60--imp {
  padding-left: 60px !important;
}

.opt-pr60 {
  padding-right: 60px;
}

.opt-pr60--imp {
  padding-right: 60px !important;
}

.opt-pb60 {
  padding-bottom: 60px;
}

.opt-pb60--imp {
  padding-bottom: 60px !important;
}

.opt-mg70 {
  margin: 70px;
}

.opt-mg70--imp {
  margin: 70px !important;
}

.opt-mt70 {
  margin-top: 70px;
}

.opt-mt70--imp {
  margin-top: 70px !important;
}

.opt-ml70 {
  margin-left: 70px;
}

.opt-ml70--imp {
  margin-left: 70px !important;
}

.opt-mr70 {
  margin-right: 70px;
}

.opt-mr70--imp {
  margin-right: 70px !important;
}

.opt-mb70 {
  margin-bottom: 70px;
}

.opt-mb70--imp {
  margin-bottom: 70px !important;
}

.opt-pd70 {
  padding: 70px;
}

.opt-pd70--imp {
  padding: 70px !important;
}

.opt-pt70 {
  padding-top: 70px;
}

.opt-pt70--imp {
  padding-top: 70px !important;
}

.opt-pl70 {
  padding-left: 70px;
}

.opt-pl70--imp {
  padding-left: 70px !important;
}

.opt-pr70 {
  padding-right: 70px;
}

.opt-pr70--imp {
  padding-right: 70px !important;
}

.opt-pb70 {
  padding-bottom: 70px;
}

.opt-pb70--imp {
  padding-bottom: 70px !important;
}

.opt-mg80 {
  margin: 80px;
}

.opt-mg80--imp {
  margin: 80px !important;
}

.opt-mt80 {
  margin-top: 80px;
}

.opt-mt80--imp {
  margin-top: 80px !important;
}

.opt-ml80 {
  margin-left: 80px;
}

.opt-ml80--imp {
  margin-left: 80px !important;
}

.opt-mr80 {
  margin-right: 80px;
}

.opt-mr80--imp {
  margin-right: 80px !important;
}

.opt-mb80 {
  margin-bottom: 80px;
}

.opt-mb80--imp {
  margin-bottom: 80px !important;
}

.opt-pd80 {
  padding: 80px;
}

.opt-pd80--imp {
  padding: 80px !important;
}

.opt-pt80 {
  padding-top: 80px;
}

.opt-pt80--imp {
  padding-top: 80px !important;
}

.opt-pl80 {
  padding-left: 80px;
}

.opt-pl80--imp {
  padding-left: 80px !important;
}

.opt-pr80 {
  padding-right: 80px;
}

.opt-pr80--imp {
  padding-right: 80px !important;
}

.opt-pb80 {
  padding-bottom: 80px;
}

.opt-pb80--imp {
  padding-bottom: 80px !important;
}

.opt-mg90 {
  margin: 90px;
}

.opt-mg90--imp {
  margin: 90px !important;
}

.opt-mt90 {
  margin-top: 90px;
}

.opt-mt90--imp {
  margin-top: 90px !important;
}

.opt-ml90 {
  margin-left: 90px;
}

.opt-ml90--imp {
  margin-left: 90px !important;
}

.opt-mr90 {
  margin-right: 90px;
}

.opt-mr90--imp {
  margin-right: 90px !important;
}

.opt-mb90 {
  margin-bottom: 90px;
}

.opt-mb90--imp {
  margin-bottom: 90px !important;
}

.opt-pd90 {
  padding: 90px;
}

.opt-pd90--imp {
  padding: 90px !important;
}

.opt-pt90 {
  padding-top: 90px;
}

.opt-pt90--imp {
  padding-top: 90px !important;
}

.opt-pl90 {
  padding-left: 90px;
}

.opt-pl90--imp {
  padding-left: 90px !important;
}

.opt-pr90 {
  padding-right: 90px;
}

.opt-pr90--imp {
  padding-right: 90px !important;
}

.opt-pb90 {
  padding-bottom: 90px;
}

.opt-pb90--imp {
  padding-bottom: 90px !important;
}

.opt-mg100 {
  margin: 100px;
}

.opt-mg100--imp {
  margin: 100px !important;
}

.opt-mt100 {
  margin-top: 100px;
}

.opt-mt100--imp {
  margin-top: 100px !important;
}

.opt-ml100 {
  margin-left: 100px;
}

.opt-ml100--imp {
  margin-left: 100px !important;
}

.opt-mr100 {
  margin-right: 100px;
}

.opt-mr100--imp {
  margin-right: 100px !important;
}

.opt-mb100 {
  margin-bottom: 100px;
}

.opt-mb100--imp {
  margin-bottom: 100px !important;
}

.opt-pd100 {
  padding: 100px;
}

.opt-pd100--imp {
  padding: 100px !important;
}

.opt-pt100 {
  padding-top: 100px;
}

.opt-pt100--imp {
  padding-top: 100px !important;
}

.opt-pl100 {
  padding-left: 100px;
}

.opt-pl100--imp {
  padding-left: 100px !important;
}

.opt-pr100 {
  padding-right: 100px;
}

.opt-pr100--imp {
  padding-right: 100px !important;
}

.opt-pb100 {
  padding-bottom: 100px;
}

.opt-pb100--imp {
  padding-bottom: 100px !important;
}

/* padding percent ====================== */
@media only screen and (max-width: 640px) {
  .opt-sm-pl1pc {
    padding-left: 1%;
  }

  .opt-sm-pr1pc {
    padding-right: 1%;
  }

  .opt-sm-pl1pc--imp {
    padding-left: 1% !important;
  }

  .opt-sm-pr1pc--imp {
    padding-right: 1% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl1pc {
    padding-left: 1%;
  }

  .opt-md-pr1pc {
    padding-right: 1%;
  }

  .opt-md-pl1pc--imp {
    padding-left: 1% !important;
  }

  .opt-md-pr1pc--imp {
    padding-right: 1% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl1pc {
    padding-left: 1%;
  }

  .opt-lg-pr1pc {
    padding-right: 1%;
  }

  .opt-lg-pl1pc--imp {
    padding-left: 1% !important;
  }

  .opt-lg-pr1pc--imp {
    padding-right: 1% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl2pc {
    padding-left: 2%;
  }

  .opt-sm-pr2pc {
    padding-right: 2%;
  }

  .opt-sm-pl2pc--imp {
    padding-left: 2% !important;
  }

  .opt-sm-pr2pc--imp {
    padding-right: 2% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl2pc {
    padding-left: 2%;
  }

  .opt-md-pr2pc {
    padding-right: 2%;
  }

  .opt-md-pl2pc--imp {
    padding-left: 2% !important;
  }

  .opt-md-pr2pc--imp {
    padding-right: 2% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl2pc {
    padding-left: 2%;
  }

  .opt-lg-pr2pc {
    padding-right: 2%;
  }

  .opt-lg-pl2pc--imp {
    padding-left: 2% !important;
  }

  .opt-lg-pr2pc--imp {
    padding-right: 2% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl3pc {
    padding-left: 3%;
  }

  .opt-sm-pr3pc {
    padding-right: 3%;
  }

  .opt-sm-pl3pc--imp {
    padding-left: 3% !important;
  }

  .opt-sm-pr3pc--imp {
    padding-right: 3% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl3pc {
    padding-left: 3%;
  }

  .opt-md-pr3pc {
    padding-right: 3%;
  }

  .opt-md-pl3pc--imp {
    padding-left: 3% !important;
  }

  .opt-md-pr3pc--imp {
    padding-right: 3% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl3pc {
    padding-left: 3%;
  }

  .opt-lg-pr3pc {
    padding-right: 3%;
  }

  .opt-lg-pl3pc--imp {
    padding-left: 3% !important;
  }

  .opt-lg-pr3pc--imp {
    padding-right: 3% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl4pc {
    padding-left: 4%;
  }

  .opt-sm-pr4pc {
    padding-right: 4%;
  }

  .opt-sm-pl4pc--imp {
    padding-left: 4% !important;
  }

  .opt-sm-pr4pc--imp {
    padding-right: 4% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl4pc {
    padding-left: 4%;
  }

  .opt-md-pr4pc {
    padding-right: 4%;
  }

  .opt-md-pl4pc--imp {
    padding-left: 4% !important;
  }

  .opt-md-pr4pc--imp {
    padding-right: 4% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl4pc {
    padding-left: 4%;
  }

  .opt-lg-pr4pc {
    padding-right: 4%;
  }

  .opt-lg-pl4pc--imp {
    padding-left: 4% !important;
  }

  .opt-lg-pr4pc--imp {
    padding-right: 4% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl5pc {
    padding-left: 5%;
  }

  .opt-sm-pr5pc {
    padding-right: 5%;
  }

  .opt-sm-pl5pc--imp {
    padding-left: 5% !important;
  }

  .opt-sm-pr5pc--imp {
    padding-right: 5% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl5pc {
    padding-left: 5%;
  }

  .opt-md-pr5pc {
    padding-right: 5%;
  }

  .opt-md-pl5pc--imp {
    padding-left: 5% !important;
  }

  .opt-md-pr5pc--imp {
    padding-right: 5% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl5pc {
    padding-left: 5%;
  }

  .opt-lg-pr5pc {
    padding-right: 5%;
  }

  .opt-lg-pl5pc--imp {
    padding-left: 5% !important;
  }

  .opt-lg-pr5pc--imp {
    padding-right: 5% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl6pc {
    padding-left: 6%;
  }

  .opt-sm-pr6pc {
    padding-right: 6%;
  }

  .opt-sm-pl6pc--imp {
    padding-left: 6% !important;
  }

  .opt-sm-pr6pc--imp {
    padding-right: 6% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl6pc {
    padding-left: 6%;
  }

  .opt-md-pr6pc {
    padding-right: 6%;
  }

  .opt-md-pl6pc--imp {
    padding-left: 6% !important;
  }

  .opt-md-pr6pc--imp {
    padding-right: 6% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl6pc {
    padding-left: 6%;
  }

  .opt-lg-pr6pc {
    padding-right: 6%;
  }

  .opt-lg-pl6pc--imp {
    padding-left: 6% !important;
  }

  .opt-lg-pr6pc--imp {
    padding-right: 6% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl7pc {
    padding-left: 7%;
  }

  .opt-sm-pr7pc {
    padding-right: 7%;
  }

  .opt-sm-pl7pc--imp {
    padding-left: 7% !important;
  }

  .opt-sm-pr7pc--imp {
    padding-right: 7% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl7pc {
    padding-left: 7%;
  }

  .opt-md-pr7pc {
    padding-right: 7%;
  }

  .opt-md-pl7pc--imp {
    padding-left: 7% !important;
  }

  .opt-md-pr7pc--imp {
    padding-right: 7% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl7pc {
    padding-left: 7%;
  }

  .opt-lg-pr7pc {
    padding-right: 7%;
  }

  .opt-lg-pl7pc--imp {
    padding-left: 7% !important;
  }

  .opt-lg-pr7pc--imp {
    padding-right: 7% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl8pc {
    padding-left: 8%;
  }

  .opt-sm-pr8pc {
    padding-right: 8%;
  }

  .opt-sm-pl8pc--imp {
    padding-left: 8% !important;
  }

  .opt-sm-pr8pc--imp {
    padding-right: 8% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl8pc {
    padding-left: 8%;
  }

  .opt-md-pr8pc {
    padding-right: 8%;
  }

  .opt-md-pl8pc--imp {
    padding-left: 8% !important;
  }

  .opt-md-pr8pc--imp {
    padding-right: 8% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl8pc {
    padding-left: 8%;
  }

  .opt-lg-pr8pc {
    padding-right: 8%;
  }

  .opt-lg-pl8pc--imp {
    padding-left: 8% !important;
  }

  .opt-lg-pr8pc--imp {
    padding-right: 8% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl9pc {
    padding-left: 9%;
  }

  .opt-sm-pr9pc {
    padding-right: 9%;
  }

  .opt-sm-pl9pc--imp {
    padding-left: 9% !important;
  }

  .opt-sm-pr9pc--imp {
    padding-right: 9% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl9pc {
    padding-left: 9%;
  }

  .opt-md-pr9pc {
    padding-right: 9%;
  }

  .opt-md-pl9pc--imp {
    padding-left: 9% !important;
  }

  .opt-md-pr9pc--imp {
    padding-right: 9% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl9pc {
    padding-left: 9%;
  }

  .opt-lg-pr9pc {
    padding-right: 9%;
  }

  .opt-lg-pl9pc--imp {
    padding-left: 9% !important;
  }

  .opt-lg-pr9pc--imp {
    padding-right: 9% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl10pc {
    padding-left: 10%;
  }

  .opt-sm-pr10pc {
    padding-right: 10%;
  }

  .opt-sm-pl10pc--imp {
    padding-left: 10% !important;
  }

  .opt-sm-pr10pc--imp {
    padding-right: 10% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl10pc {
    padding-left: 10%;
  }

  .opt-md-pr10pc {
    padding-right: 10%;
  }

  .opt-md-pl10pc--imp {
    padding-left: 10% !important;
  }

  .opt-md-pr10pc--imp {
    padding-right: 10% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl10pc {
    padding-left: 10%;
  }

  .opt-lg-pr10pc {
    padding-right: 10%;
  }

  .opt-lg-pl10pc--imp {
    padding-left: 10% !important;
  }

  .opt-lg-pr10pc--imp {
    padding-right: 10% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl11pc {
    padding-left: 11%;
  }

  .opt-sm-pr11pc {
    padding-right: 11%;
  }

  .opt-sm-pl11pc--imp {
    padding-left: 11% !important;
  }

  .opt-sm-pr11pc--imp {
    padding-right: 11% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl11pc {
    padding-left: 11%;
  }

  .opt-md-pr11pc {
    padding-right: 11%;
  }

  .opt-md-pl11pc--imp {
    padding-left: 11% !important;
  }

  .opt-md-pr11pc--imp {
    padding-right: 11% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl11pc {
    padding-left: 11%;
  }

  .opt-lg-pr11pc {
    padding-right: 11%;
  }

  .opt-lg-pl11pc--imp {
    padding-left: 11% !important;
  }

  .opt-lg-pr11pc--imp {
    padding-right: 11% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl12pc {
    padding-left: 12%;
  }

  .opt-sm-pr12pc {
    padding-right: 12%;
  }

  .opt-sm-pl12pc--imp {
    padding-left: 12% !important;
  }

  .opt-sm-pr12pc--imp {
    padding-right: 12% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl12pc {
    padding-left: 12%;
  }

  .opt-md-pr12pc {
    padding-right: 12%;
  }

  .opt-md-pl12pc--imp {
    padding-left: 12% !important;
  }

  .opt-md-pr12pc--imp {
    padding-right: 12% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl12pc {
    padding-left: 12%;
  }

  .opt-lg-pr12pc {
    padding-right: 12%;
  }

  .opt-lg-pl12pc--imp {
    padding-left: 12% !important;
  }

  .opt-lg-pr12pc--imp {
    padding-right: 12% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl13pc {
    padding-left: 13%;
  }

  .opt-sm-pr13pc {
    padding-right: 13%;
  }

  .opt-sm-pl13pc--imp {
    padding-left: 13% !important;
  }

  .opt-sm-pr13pc--imp {
    padding-right: 13% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl13pc {
    padding-left: 13%;
  }

  .opt-md-pr13pc {
    padding-right: 13%;
  }

  .opt-md-pl13pc--imp {
    padding-left: 13% !important;
  }

  .opt-md-pr13pc--imp {
    padding-right: 13% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl13pc {
    padding-left: 13%;
  }

  .opt-lg-pr13pc {
    padding-right: 13%;
  }

  .opt-lg-pl13pc--imp {
    padding-left: 13% !important;
  }

  .opt-lg-pr13pc--imp {
    padding-right: 13% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl14pc {
    padding-left: 14%;
  }

  .opt-sm-pr14pc {
    padding-right: 14%;
  }

  .opt-sm-pl14pc--imp {
    padding-left: 14% !important;
  }

  .opt-sm-pr14pc--imp {
    padding-right: 14% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl14pc {
    padding-left: 14%;
  }

  .opt-md-pr14pc {
    padding-right: 14%;
  }

  .opt-md-pl14pc--imp {
    padding-left: 14% !important;
  }

  .opt-md-pr14pc--imp {
    padding-right: 14% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl14pc {
    padding-left: 14%;
  }

  .opt-lg-pr14pc {
    padding-right: 14%;
  }

  .opt-lg-pl14pc--imp {
    padding-left: 14% !important;
  }

  .opt-lg-pr14pc--imp {
    padding-right: 14% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl15pc {
    padding-left: 15%;
  }

  .opt-sm-pr15pc {
    padding-right: 15%;
  }

  .opt-sm-pl15pc--imp {
    padding-left: 15% !important;
  }

  .opt-sm-pr15pc--imp {
    padding-right: 15% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl15pc {
    padding-left: 15%;
  }

  .opt-md-pr15pc {
    padding-right: 15%;
  }

  .opt-md-pl15pc--imp {
    padding-left: 15% !important;
  }

  .opt-md-pr15pc--imp {
    padding-right: 15% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl15pc {
    padding-left: 15%;
  }

  .opt-lg-pr15pc {
    padding-right: 15%;
  }

  .opt-lg-pl15pc--imp {
    padding-left: 15% !important;
  }

  .opt-lg-pr15pc--imp {
    padding-right: 15% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl16pc {
    padding-left: 16%;
  }

  .opt-sm-pr16pc {
    padding-right: 16%;
  }

  .opt-sm-pl16pc--imp {
    padding-left: 16% !important;
  }

  .opt-sm-pr16pc--imp {
    padding-right: 16% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl16pc {
    padding-left: 16%;
  }

  .opt-md-pr16pc {
    padding-right: 16%;
  }

  .opt-md-pl16pc--imp {
    padding-left: 16% !important;
  }

  .opt-md-pr16pc--imp {
    padding-right: 16% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl16pc {
    padding-left: 16%;
  }

  .opt-lg-pr16pc {
    padding-right: 16%;
  }

  .opt-lg-pl16pc--imp {
    padding-left: 16% !important;
  }

  .opt-lg-pr16pc--imp {
    padding-right: 16% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl17pc {
    padding-left: 17%;
  }

  .opt-sm-pr17pc {
    padding-right: 17%;
  }

  .opt-sm-pl17pc--imp {
    padding-left: 17% !important;
  }

  .opt-sm-pr17pc--imp {
    padding-right: 17% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl17pc {
    padding-left: 17%;
  }

  .opt-md-pr17pc {
    padding-right: 17%;
  }

  .opt-md-pl17pc--imp {
    padding-left: 17% !important;
  }

  .opt-md-pr17pc--imp {
    padding-right: 17% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl17pc {
    padding-left: 17%;
  }

  .opt-lg-pr17pc {
    padding-right: 17%;
  }

  .opt-lg-pl17pc--imp {
    padding-left: 17% !important;
  }

  .opt-lg-pr17pc--imp {
    padding-right: 17% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl18pc {
    padding-left: 18%;
  }

  .opt-sm-pr18pc {
    padding-right: 18%;
  }

  .opt-sm-pl18pc--imp {
    padding-left: 18% !important;
  }

  .opt-sm-pr18pc--imp {
    padding-right: 18% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl18pc {
    padding-left: 18%;
  }

  .opt-md-pr18pc {
    padding-right: 18%;
  }

  .opt-md-pl18pc--imp {
    padding-left: 18% !important;
  }

  .opt-md-pr18pc--imp {
    padding-right: 18% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl18pc {
    padding-left: 18%;
  }

  .opt-lg-pr18pc {
    padding-right: 18%;
  }

  .opt-lg-pl18pc--imp {
    padding-left: 18% !important;
  }

  .opt-lg-pr18pc--imp {
    padding-right: 18% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl19pc {
    padding-left: 19%;
  }

  .opt-sm-pr19pc {
    padding-right: 19%;
  }

  .opt-sm-pl19pc--imp {
    padding-left: 19% !important;
  }

  .opt-sm-pr19pc--imp {
    padding-right: 19% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl19pc {
    padding-left: 19%;
  }

  .opt-md-pr19pc {
    padding-right: 19%;
  }

  .opt-md-pl19pc--imp {
    padding-left: 19% !important;
  }

  .opt-md-pr19pc--imp {
    padding-right: 19% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl19pc {
    padding-left: 19%;
  }

  .opt-lg-pr19pc {
    padding-right: 19%;
  }

  .opt-lg-pl19pc--imp {
    padding-left: 19% !important;
  }

  .opt-lg-pr19pc--imp {
    padding-right: 19% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl20pc {
    padding-left: 20%;
  }

  .opt-sm-pr20pc {
    padding-right: 20%;
  }

  .opt-sm-pl20pc--imp {
    padding-left: 20% !important;
  }

  .opt-sm-pr20pc--imp {
    padding-right: 20% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl20pc {
    padding-left: 20%;
  }

  .opt-md-pr20pc {
    padding-right: 20%;
  }

  .opt-md-pl20pc--imp {
    padding-left: 20% !important;
  }

  .opt-md-pr20pc--imp {
    padding-right: 20% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl20pc {
    padding-left: 20%;
  }

  .opt-lg-pr20pc {
    padding-right: 20%;
  }

  .opt-lg-pl20pc--imp {
    padding-left: 20% !important;
  }

  .opt-lg-pr20pc--imp {
    padding-right: 20% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl21pc {
    padding-left: 21%;
  }

  .opt-sm-pr21pc {
    padding-right: 21%;
  }

  .opt-sm-pl21pc--imp {
    padding-left: 21% !important;
  }

  .opt-sm-pr21pc--imp {
    padding-right: 21% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl21pc {
    padding-left: 21%;
  }

  .opt-md-pr21pc {
    padding-right: 21%;
  }

  .opt-md-pl21pc--imp {
    padding-left: 21% !important;
  }

  .opt-md-pr21pc--imp {
    padding-right: 21% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl21pc {
    padding-left: 21%;
  }

  .opt-lg-pr21pc {
    padding-right: 21%;
  }

  .opt-lg-pl21pc--imp {
    padding-left: 21% !important;
  }

  .opt-lg-pr21pc--imp {
    padding-right: 21% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl22pc {
    padding-left: 22%;
  }

  .opt-sm-pr22pc {
    padding-right: 22%;
  }

  .opt-sm-pl22pc--imp {
    padding-left: 22% !important;
  }

  .opt-sm-pr22pc--imp {
    padding-right: 22% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl22pc {
    padding-left: 22%;
  }

  .opt-md-pr22pc {
    padding-right: 22%;
  }

  .opt-md-pl22pc--imp {
    padding-left: 22% !important;
  }

  .opt-md-pr22pc--imp {
    padding-right: 22% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl22pc {
    padding-left: 22%;
  }

  .opt-lg-pr22pc {
    padding-right: 22%;
  }

  .opt-lg-pl22pc--imp {
    padding-left: 22% !important;
  }

  .opt-lg-pr22pc--imp {
    padding-right: 22% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl23pc {
    padding-left: 23%;
  }

  .opt-sm-pr23pc {
    padding-right: 23%;
  }

  .opt-sm-pl23pc--imp {
    padding-left: 23% !important;
  }

  .opt-sm-pr23pc--imp {
    padding-right: 23% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl23pc {
    padding-left: 23%;
  }

  .opt-md-pr23pc {
    padding-right: 23%;
  }

  .opt-md-pl23pc--imp {
    padding-left: 23% !important;
  }

  .opt-md-pr23pc--imp {
    padding-right: 23% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl23pc {
    padding-left: 23%;
  }

  .opt-lg-pr23pc {
    padding-right: 23%;
  }

  .opt-lg-pl23pc--imp {
    padding-left: 23% !important;
  }

  .opt-lg-pr23pc--imp {
    padding-right: 23% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl24pc {
    padding-left: 24%;
  }

  .opt-sm-pr24pc {
    padding-right: 24%;
  }

  .opt-sm-pl24pc--imp {
    padding-left: 24% !important;
  }

  .opt-sm-pr24pc--imp {
    padding-right: 24% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl24pc {
    padding-left: 24%;
  }

  .opt-md-pr24pc {
    padding-right: 24%;
  }

  .opt-md-pl24pc--imp {
    padding-left: 24% !important;
  }

  .opt-md-pr24pc--imp {
    padding-right: 24% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl24pc {
    padding-left: 24%;
  }

  .opt-lg-pr24pc {
    padding-right: 24%;
  }

  .opt-lg-pl24pc--imp {
    padding-left: 24% !important;
  }

  .opt-lg-pr24pc--imp {
    padding-right: 24% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl25pc {
    padding-left: 25%;
  }

  .opt-sm-pr25pc {
    padding-right: 25%;
  }

  .opt-sm-pl25pc--imp {
    padding-left: 25% !important;
  }

  .opt-sm-pr25pc--imp {
    padding-right: 25% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl25pc {
    padding-left: 25%;
  }

  .opt-md-pr25pc {
    padding-right: 25%;
  }

  .opt-md-pl25pc--imp {
    padding-left: 25% !important;
  }

  .opt-md-pr25pc--imp {
    padding-right: 25% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl25pc {
    padding-left: 25%;
  }

  .opt-lg-pr25pc {
    padding-right: 25%;
  }

  .opt-lg-pl25pc--imp {
    padding-left: 25% !important;
  }

  .opt-lg-pr25pc--imp {
    padding-right: 25% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl26pc {
    padding-left: 26%;
  }

  .opt-sm-pr26pc {
    padding-right: 26%;
  }

  .opt-sm-pl26pc--imp {
    padding-left: 26% !important;
  }

  .opt-sm-pr26pc--imp {
    padding-right: 26% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl26pc {
    padding-left: 26%;
  }

  .opt-md-pr26pc {
    padding-right: 26%;
  }

  .opt-md-pl26pc--imp {
    padding-left: 26% !important;
  }

  .opt-md-pr26pc--imp {
    padding-right: 26% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl26pc {
    padding-left: 26%;
  }

  .opt-lg-pr26pc {
    padding-right: 26%;
  }

  .opt-lg-pl26pc--imp {
    padding-left: 26% !important;
  }

  .opt-lg-pr26pc--imp {
    padding-right: 26% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl27pc {
    padding-left: 27%;
  }

  .opt-sm-pr27pc {
    padding-right: 27%;
  }

  .opt-sm-pl27pc--imp {
    padding-left: 27% !important;
  }

  .opt-sm-pr27pc--imp {
    padding-right: 27% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl27pc {
    padding-left: 27%;
  }

  .opt-md-pr27pc {
    padding-right: 27%;
  }

  .opt-md-pl27pc--imp {
    padding-left: 27% !important;
  }

  .opt-md-pr27pc--imp {
    padding-right: 27% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl27pc {
    padding-left: 27%;
  }

  .opt-lg-pr27pc {
    padding-right: 27%;
  }

  .opt-lg-pl27pc--imp {
    padding-left: 27% !important;
  }

  .opt-lg-pr27pc--imp {
    padding-right: 27% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl28pc {
    padding-left: 28%;
  }

  .opt-sm-pr28pc {
    padding-right: 28%;
  }

  .opt-sm-pl28pc--imp {
    padding-left: 28% !important;
  }

  .opt-sm-pr28pc--imp {
    padding-right: 28% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl28pc {
    padding-left: 28%;
  }

  .opt-md-pr28pc {
    padding-right: 28%;
  }

  .opt-md-pl28pc--imp {
    padding-left: 28% !important;
  }

  .opt-md-pr28pc--imp {
    padding-right: 28% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl28pc {
    padding-left: 28%;
  }

  .opt-lg-pr28pc {
    padding-right: 28%;
  }

  .opt-lg-pl28pc--imp {
    padding-left: 28% !important;
  }

  .opt-lg-pr28pc--imp {
    padding-right: 28% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl29pc {
    padding-left: 29%;
  }

  .opt-sm-pr29pc {
    padding-right: 29%;
  }

  .opt-sm-pl29pc--imp {
    padding-left: 29% !important;
  }

  .opt-sm-pr29pc--imp {
    padding-right: 29% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl29pc {
    padding-left: 29%;
  }

  .opt-md-pr29pc {
    padding-right: 29%;
  }

  .opt-md-pl29pc--imp {
    padding-left: 29% !important;
  }

  .opt-md-pr29pc--imp {
    padding-right: 29% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl29pc {
    padding-left: 29%;
  }

  .opt-lg-pr29pc {
    padding-right: 29%;
  }

  .opt-lg-pl29pc--imp {
    padding-left: 29% !important;
  }

  .opt-lg-pr29pc--imp {
    padding-right: 29% !important;
  }
}
@media only screen and (max-width: 640px) {
  .opt-sm-pl30pc {
    padding-left: 30%;
  }

  .opt-sm-pr30pc {
    padding-right: 30%;
  }

  .opt-sm-pl30pc--imp {
    padding-left: 30% !important;
  }

  .opt-sm-pr30pc--imp {
    padding-right: 30% !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-pl30pc {
    padding-left: 30%;
  }

  .opt-md-pr30pc {
    padding-right: 30%;
  }

  .opt-md-pl30pc--imp {
    padding-left: 30% !important;
  }

  .opt-md-pr30pc--imp {
    padding-right: 30% !important;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-pl30pc {
    padding-left: 30%;
  }

  .opt-lg-pr30pc {
    padding-right: 30%;
  }

  .opt-lg-pl30pc--imp {
    padding-left: 30% !important;
  }

  .opt-lg-pr30pc--imp {
    padding-right: 30% !important;
  }
}
/* Width ============================== */
.opt-w5p {
  width: 5%;
}

.opt-w10p {
  width: 10%;
}

.opt-w15p {
  width: 15%;
}

.opt-w20p {
  width: 20%;
}

.opt-w25p {
  width: 25%;
}

.opt-w30p {
  width: 30%;
}

.opt-w40p {
  width: 40%;
}

.opt-w50p {
  width: 50%;
}

.opt-w60p {
  width: 60%;
}

.opt-w70p {
  width: 70%;
}

.opt-w80p {
  width: 80%;
}

.opt-w90p {
  width: 90%;
}

.opt-w100p {
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .opt-sm-w5p {
    width: 5%;
  }

  .opt-sm-w10p {
    width: 10%;
  }

  .opt-sm-w15p {
    width: 15%;
  }

  .opt-sm-w20p {
    width: 20%;
  }

  .opt-sm-w25p {
    width: 25%;
  }

  .opt-sm-w30p {
    width: 30%;
  }

  .opt-sm-w40p {
    width: 40%;
  }

  .opt-sm-w50p {
    width: 50%;
  }

  .opt-sm-w60p {
    width: 60%;
  }

  .opt-sm-w70p {
    width: 70%;
  }

  .opt-sm-w80p {
    width: 80%;
  }

  .opt-sm-w90p {
    width: 90%;
  }

  .opt-sm-w100p {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-w5p {
    width: 5%;
  }

  .opt-md-w10p {
    width: 10%;
  }

  .opt-md-w15p {
    width: 15%;
  }

  .opt-md-w20p {
    width: 20%;
  }

  .opt-md-w25p {
    width: 25%;
  }

  .opt-md-w30p {
    width: 30%;
  }

  .opt-md-w40p {
    width: 40%;
  }

  .opt-md-w50p {
    width: 50%;
  }

  .opt-md-w60p {
    width: 60%;
  }

  .opt-md-w70p {
    width: 70%;
  }

  .opt-md-w80p {
    width: 80%;
  }

  .opt-md-w90p {
    width: 90%;
  }

  .opt-md-w100p {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-w5p {
    width: 5%;
  }

  .opt-lg-w10p {
    width: 10%;
  }

  .opt-lg-w15p {
    width: 15%;
  }

  .opt-lg-w20p {
    width: 20%;
  }

  .opt-lg-w25p {
    width: 25%;
  }

  .opt-lg-w30p {
    width: 30%;
  }

  .opt-lg-w40p {
    width: 40%;
  }

  .opt-lg-w50p {
    width: 50%;
  }

  .opt-lg-w60p {
    width: 60%;
  }

  .opt-lg-w70p {
    width: 70%;
  }

  .opt-lg-w80p {
    width: 80%;
  }

  .opt-lg-w90p {
    width: 90%;
  }

  .opt-lg-w100p {
    width: 100%;
  }
}
/* Text-align ============================== */
.opt-al_l {
  text-align: left;
}

.opt-al_r {
  text-align: right;
}

.opt-al_c {
  text-align: center;
}

.opt-mg-at {
  margin-left: auto;
  margin-right: auto;
}

.opt-mg-l {
  margin-left: 0;
  margin-right: auto;
}

.opt-mg-r {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 640px) {
  .opt-sm-al_l {
    text-align: left;
  }

  .opt-sm-al_r {
    text-align: right;
  }

  .opt-sm-al_c {
    text-align: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-al_l {
    text-align: left;
  }

  .opt-md-al_r {
    text-align: right;
  }

  .opt-md-al_c {
    text-align: center;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-al_l {
    text-align: left;
  }

  .opt-lg-al_r {
    text-align: right;
  }

  .opt-lg-al_c {
    text-align: center;
  }
}
/* Font-Size ============================== */
.opt-fs_h_lv1 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv1 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv1 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv1 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv2 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv2 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv2 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv2 {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv3 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv3 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv3 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv4 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv4 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv5 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv5 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv5 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv5 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv6 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv6 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv6 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv6 {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

@media only screen and (min-width: 1025px) {
  .opt-fs_body {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_body {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_body {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}

@media only screen and (min-width: 1025px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}

/* for In Place Editor ============================== */
.opt-fontcolor--01 {
  color: #FFF;
}

.opt-fontcolor--02 {
  color: #F1F1F1;
}

.opt-fontcolor--03 {
  color: #EEE;
}

.opt-fontcolor--04 {
  color: #CCC;
}

.opt-fontcolor--05 {
  color: #999;
}

.opt-fontcolor--06 {
  color: #666;
}

.opt-fontcolor--07 {
  color: #333;
}

.opt-fontcolor--08 {
  color: #000;
}

.opt-fontcolor--09 {
  color: #00B48C;
}

.opt-fontcolor--10 {
  color: #FF6600;
}

.opt-fontcolor--11 {
  color: #039BE5;
}

.opt-fontcolor--12 {
  color: #F44336;
}

.opt-fontsize--xs {
  font-size: 0.5em;
}

.opt-fontsize--s {
  font-size: 0.75em;
}

.opt-fontsize--l {
  font-size: 1.25em;
}

.opt-fontsize--xl {
  font-size: 1.5em;
}

.opt-fontsize--xxl {
  font-size: 1.75em;
}

.opt-fontsize--xxxl {
  font-size: 2em;
}

.opt-fontsize--xxxxl {
  font-size: 2.5em;
}

.opt-lineheight--l {
  line-height: 2;
}

.opt-lineheight--xl {
  line-height: 2.4;
}

.opt-lineheight--xxl {
  line-height: 2.8;
}

.opt-lineheight--xxxl {
  line-height: 3.2;
}

.opt-lineheight--xxxxl {
  line-height: 4;
}

.opt-fontfamily--01 {
  font-family: "FOT-UD角ゴ_ラージ Pro B", UDKakugo_LargePro-B, sans-serif;
}

.opt-fontfamily--02 {
  font-family: "FOT-UD角ゴ_ラージ Pro M", UDKakugo_LargePro-M, sans-serif;
}

.opt-fontfamily--03 {
  font-family: "FOT-UD明朝 Pro DB", UDMinchoPro-DB, serif;
}

.opt-fontfamily--04 {
  font-family: "FOT-UD明朝 Pro L", UDMinchoPro-L, serif;
}

.opt-fontfamily--05 {
  font-family: "FOT-UD丸ゴ_ラージ Pro DB", UDMarugo_LargePro-DB, sans-serif;
}

.opt-fontfamily--06 {
  font-family: "FOT-UD丸ゴ_ラージ Pro L", UDMarugo_LargePro-L, sans-serif;
}

/* Background Image ============================== */
.opt-bg--repeat {
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

.opt-bg--repeat-x {
  background-repeat: repeat-x;
  background-size: auto;
  background-position: top left;
}

.opt-bg--repeat-y {
  background-repeat: repeat-y;
  background-size: auto;
  background-position: top left;
}

.opt-bg--top {
  background-position: top;
  background-size: auto;
}

.opt-bg--bottom {
  background-position: bottom;
  background-size: auto;
}

.opt-bg--left {
  background-position: left;
  background-size: auto;
}

.opt-bg--right {
  background-position: right;
  background-size: auto;
}

.opt-bg--center {
  background-position: center;
  background-size: auto;
}

.opt-bg--top-left {
  background-position: top left;
  background-size: auto;
}

.opt-bg--bottom-left {
  background-position: bottom left;
  background-size: auto;
}

.opt-bg--top-right {
  background-position: top right;
  background-size: auto;
}

.opt-bg--bottom-right {
  background-position: bottom right;
  background-size: auto;
}

.opt-bg--fit {
  background-size: 100% 100%;
}

/* Line ============================== */
/* Border Radius ============================== */
.opt-borderradius--xs {
  border-radius: 4px;
}

.opt-borderradius--tl--xs {
  border-top-left-radius: 4px;
}

.opt-borderradius--tr--xs {
  border-top-right-radius: 4px;
}

.opt-borderradius--br--xs {
  border-bottom-right-radius: 4px;
}

.opt-borderradius--bl--xs {
  border-bottom-left-radius: 4px;
}

.opt-borderradius--s {
  border-radius: 8px;
}

.opt-borderradius--tl--s {
  border-top-left-radius: 8px;
}

.opt-borderradius--tr--s {
  border-top-right-radius: 8px;
}

.opt-borderradius--br--s {
  border-bottom-right-radius: 8px;
}

.opt-borderradius--bl--s {
  border-bottom-left-radius: 8px;
}

.opt-borderradius--m {
  border-radius: 12px;
}

.opt-borderradius--tl--m {
  border-top-left-radius: 12px;
}

.opt-borderradius--tr--m {
  border-top-right-radius: 12px;
}

.opt-borderradius--br--m {
  border-bottom-right-radius: 12px;
}

.opt-borderradius--bl--m {
  border-bottom-left-radius: 12px;
}

.opt-borderradius--l {
  border-radius: 16px;
}

.opt-borderradius--tl--l {
  border-top-left-radius: 16px;
}

.opt-borderradius--tr--l {
  border-top-right-radius: 16px;
}

.opt-borderradius--br--l {
  border-bottom-right-radius: 16px;
}

.opt-borderradius--bl--l {
  border-bottom-left-radius: 16px;
}

.opt-borderradius--xl {
  border-radius: 20px;
}

.opt-borderradius--tl--xl {
  border-top-left-radius: 20px;
}

.opt-borderradius--tr--xl {
  border-top-right-radius: 20px;
}

.opt-borderradius--br--xl {
  border-bottom-right-radius: 20px;
}

.opt-borderradius--bl--xl {
  border-bottom-left-radius: 20px;
}

/* Shadow ============================== */
/* br ============================== */
@media only screen and (max-width: 640px) {
  br.opt-br-hide--sm {
    display: none;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  br.opt-br-hide--md {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  br.opt-br-hide--lg {
    display: none;
  }
}
