@charset "utf-8";

/* 03_Product_Overview+Filter_Template */

.productOverView_section-start {
  @include bp(lg) {
    margin: 0 auto;
    max-width: 1366px;
    background-position: bottom left;
    background-size: 204px 150px;
  }
  @include bp(md) {
    background-position: bottom right;
    background-size: 193px 200px;
  };
  @include bp(sm) {
    background-position: bottom right;
    background-size: 181px 200px;
  };
}
