@charset "utf-8";

/* C122 Call-to-action on solid cover */
.c122__button {
  .l-ButtonUnit__link {
    cursor: pointer;
    border-radius: 0;
    padding: 10px 30px;
    @include kms-fontSize(longcopy);
    @include kms-fontFamily(subTitle);
    text-transform: uppercase;
    letter-spacing: normal;
    .cmn-richtext {
      span {
        position: relative;
        top: 3.5px;
      }
    }
    &:hover {
      @include bp(lg) {
        opacity: 1;
        .cmn-richtext{
          color: #fff;
        }
      }
      @include bp(md) {
        opacity: 1;
      }
      @include bp(sm) {
        opacity: 1;
      }
    }
  }
  &.is-colorset--1 {
    .l-ButtonUnit__link {
      color: #000;
      @include box-shadow(2px 2px 0 0 rgba(0,0,0,0));
      background-color: transparent;
      @include bp(lg) {
        border: none;
      }
      @include bp(md) {
        border: 1px solid #000;
      }
      @include bp(sm) {
        border: 1px solid #000;
      }
    }
  }
}
.c122__button.c450__button {
  &.is-colorset--1 {
    .l-ButtonUnit__link {
      @include bp(lg) {
        border: none;
      }
      @include bp(md) {
        border: 1px solid #000 !important;
      }
      @include bp(sm) {
        border: 1px solid #000 !important;
      }
    }
  }
}
.c122__button {
  .l-ButtonUnit__link {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    @include bp(lg) {
      border: none;
      &:before {
        position: absolute;
        box-sizing: border-box;
        z-index: -1;
        border: 1px solid #000 !important;
        content: '';
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
      }
      &:after {
        position: absolute;
        box-sizing: border-box;
        z-index: -1;
        display: block;
        content: '';
        transition: all .2s;
        top: 100%;
        width: 100%;
        left: 0;
        height: 100%;
      }
      &:hover {
        &::after {
          top: 0;
          background-color: #fe5000;
          border: 1px solid #fe5000 !important;
        }
      }
    }
  }
}



