@charset "utf-8";

/* C190 TEXT (HOVER) OVER IMAGE / IMAGE ABOVE TEXT */

.c190__imageTextVP {
  &.is-background {
    padding: 0;
  }
  .l-ImageTextVP__contentsBlock {
    .l-HeadingTitle__titleBlock__titleBox__title {
      margin-bottom: 0;
      @include bp(lg) {
        padding: 10px 10px 0 10px;
      };
    }
    .l-ImageTextVP__contentsBlock__image {
      margin-bottom: 0;
      @include bp(md) {
        margin-bottom: 20px;
      };
      @include bp(sm) {
        margin-bottom: 30px;
      };
    }
    .l-HeadingTitle {
      margin-bottom: 15px;
      @include bp(md) {
        margin-bottom: 20px;
      }
      @include bp(sm) {
        margin-bottom: 20px;
      }
    }
    .l-HeadingTitle__h3 {
      @include kms-fontSize(headline3);
      @include kms-fontFamily(subTitle);
      text-transform: uppercase;
      color: #000;
    }
    .l-Image {
      margin-bottom: 0;
    }
    .l-ImageTextVP__contentsBlock__text {
      @include bp(md) {
        width: 96% !important;
        margin: 0 auto !important;
      };
      @include bp(sm) {
        width: 96% !important;
        margin: 0 auto !important;
      };
    }
    .l-Text {
      @include kms-fontSize(longcopy);
      @include kms-fontFamily(body);
      text-transform: uppercase;
      color: #000;
    }
    .l-ImageTextVP__contentsBlock__text__moreinfo {
      margin-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      .l-ButtonP {
        margin-bottom: 0;
      }
      .l-ButtonP__list__item {
        @include bp(md) {
          float: none;
        };
        @include bp(sm) {
          float: none;
        };
        .l-ButtonUnit{
          display: inline-block;
        }
        .l-ButtonUnit__link {
          cursor: pointer;
          height: 10px;
          background-color: #fff;
          border: none;
          box-shadow: none;
          border-radius: 0;
          padding: 10px 30px;
          @include kms-fontSize(longcopy);
          &:hover{
            opacity:1;
            @include bp(lg) {
              .cmn-richtext{
                color: #fff;
              }
            }
          }
          @include bp(md) {
            padding: 7px 30px;
            border: 1px solid #000;
          }
          @include bp(sm) {
            padding: 7px 30px;
            border: 1px solid #000;
            display: block;
          };
          .cmn-richtext {
            letter-spacing: normal;
            padding-right: 0;
            @include kms-fontFamily(subTitle);
            color: #000;
            span {
              position: relative;
              top: 0.1em;
            }
          }
        }
      }
    }
  }
}
// button hover
.c190__imageTextVP {
  .l-ButtonUnit__link {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    @include bp(lg) {
      &:after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
        box-sizing: border-box;
        transition: all .2s;
        top: 100%;
        width: 100%;
        left: 0;
        height: 100%;
      }
      &:hover {
        &::after {
          top: 0;
          background-color: #fe5000;
        }
      }
    }
  }
}

// pc
@include bp(lg) {
  .c190__imageTextVP {
    &.is-singleColumn {
      .l-ImageTextVP__contentsBlock {
        .l-ImageTextVP__contentsBlock__text {
          padding: 2% 7%;
        }
      }
    }
    .l-ImageTextVP__contentsBlock {
      position: relative;
      .l-ImageTextVP__contentsBlock__text {
        z-index: 100;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5%;
        .l-Text {
          width: 100%;
        }
        .l-ImageTextVP__contentsBlock__text__moreinfo {
          display: block !important;
        }
      }
      .l-ImageTextVP__contentsBlock__text__inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        .l-ImageTextVP__contentsBlock__text {
          opacity: 1;
        }
      }
    }
  }
};


// carousel

.C190__carousel {
  .l-SlideImageP__prevArrow, .l-SlideImageP__nextArrow {
    display: none !important;
  }
  .l-GroupBox{
    padding:0 12px;
  }
  .l-Image__img img{
    width: 100%!important;
  }
  .l-Image {
    margin-bottom: 0;
  }
  .slick-dots {
    margin:  15px 0;
    line-height: 0;
    li {
      line-height: 0;
      margin: 0;
      width: auto;
      &.slick-active {
        button {
          &:before {
            background-color: #fe5000;
          }
        }
      }
      button {
        padding: 5px;
        width: auto;
        &:before {
          position: relative;
          display: block;
          content: '';
          width: 5px;
          height: 5px;
          opacity: 1;
          background-color: #6a5e52;
          border-radius: 50%;
          &:hover{
            @include bp(lg) {
              opacity: 0.25;
            }
          }
/*
color: #6a5e52;
font-size: 8px;
line-height: 1;
content: "\e020";
*/
}
&:focus {
  opacity: 1;
}
}
}
}
.l-SlideImageP__nav__toggle {
  display: none;
}
}
.c190__navi {
  display: none;
  @include bp(lg) {
    position: absolute;
    z-index: 2;
    top: 0;
    display: block;
    width: 42%;
    height: 100%;
    &.c190__navi--prev {
      left: 0;
    }
    &.c190__navi--next {
      right: 0;
    }
    .c190__navi__arrow {
      display: block;
      opacity: 0;
      transition: all .4s;
      width: 54px;
      height: 54px;
      border-width: 2px;
      border-top: solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -27px;
      margin-left: -27px;
      &.c190__navi__arrow--prev {
        border-left: solid #fff;
        @include transform(rotate(-45deg));
      }
      &.c190__navi__arrow--next {
        border-right: solid #fff;
        @include transform(rotate(45deg));
      }
    }
    &:hover {
      .c190__navi__arrow {
        opacity: 1;
      }
    }
  }
}
.is-c190__nonetext {
  .l-Text {
    margin: 0!important;
  }
  .l-ImageTextVP__contentsBlock__text__moreinfo {
    margin-top: 0!important;
  }
}
