@charset "utf-8";

.c380__section {
  overflow: visible;
  .l-Section__inner {
    max-width: none;
    padding: 0;
  }
}

.c380 {
  .l-InstagramPost__textBlock {
    position: relative;
    padding-top: 18px;
    margin: 0 auto;
    width: 83.33%;
  }

  // date
  .l-InstagramPost__contentsBlock__date {
    @include kms-fontFamily(body);
    font-size: 18px;
    line-height: 20px;
    @include bp(sm){
      font-size: 16px;
      line-height: 18px;
    }
    color: #d9d9d6 !important;

    margin-bottom: 20px;
    display: inline-block;
  }

  .l-InstagramPost__textBlock__title {
    .l-InstagramPost__textBlock__title__link {
      @include kms-fontFamily(subTitle);
      text-transform: uppercase;
      @include kms-fontSize(headline3);
      color: #000 !important;
    }
  }
  .l-InstagramPost__textBlock__description {
    margin-bottom: 20px;
    .l-InstagramPost__textBlock__description__text {
      @include kms-fontSize(longcopy);
      @include kms-fontFamily(body);
    }
  }
    
  .visited__media .l-InstagramPost__contentsBlock__counts__item__inner,
  .visited__media .l-InstagramPost__contentsBlock__counts__item__icon{
      color: #fe5000 !important;
  }

  // counts
  .l-InstagramPost__contentsBlock__counts {
    color: #d9d9d6;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 20px;
    .l-InstagramPost__contentsBlock__counts__item__label {
      margin-left: 10px;
      @include kms-fontFamily(subTitle);
      @include kms-fontSize(longcopy);
    }
    .l-InstagramPost__contentsBlock__counts__item__inner {
      margin-right: 15px;
    }
  }

  .l-InstagramPost__contentsBlock__counts__item__icon {
    @extend .kms-icon;
    color: #d9d9d9 !important;
    margin-top: -3px;
    font-size: 16px !important;
    @include bp(md) {
      font-size: 20px !important;
    };
    @include bp(sm) {
      font-size: 20px !important;
    };
  }
  .l-InstagramPost__contentsBlock__counts__item__icon:hover {
      color: #fe5000 !important;
    }
  .cmn-icon--heart.l-InstagramPost__contentsBlock__counts__item__icon {
    @extend .kms-icon--heart2;
    &:before {
      margin-top: -8px;
    }
  }
  .cmn-icon--comment {
    @extend .kms-icon--comment2;
  }

  // textBlock
  .l-InstagramPost__contentsBlock__text {
    position: relative;
    word-break: break-word;
  }
  .l-InstagramPost__contentsBlock__postText {
    @include kms-fontFamily(subTitle);
    @include kms-fontSize(longcopy);
    color: #000 !important;
    margin-bottom: 30px;
  }
  .l-InstagramPost__contentsBlock__postText__text {
    a {
      color: #fe5000 !important;
      text-decoration: none;
      &:hover, &:visited {
        color: #fe5000 !important;
      }
    }
  }

  // visit
  .l-InstagramPost__textBlock__visit {
    line-height: 0;
    position: absolute;
    right: 0;
    top: 18px;
  }
  .l-InstagramPost__contentsBlock__visit__link {
    position: relative;
    padding: 0 25px 0 0;
    @include kms-fontFamily(subTitle);
    font-size: 18px;
    line-height: 20px;
    top: 6px;
    @include bp(md){
      top: -2px;
    }
    @include bp(sm){
      font-size: 16px;
      line-height: 18px;
      top: -1px;
    }
    text-transform: uppercase;
    color: #d9d9d6 !important;
    &:after {
      font-family: 'kms';
      font-size: 20px;
      @include bp(sm) {
        font-size: 15px;
      };
      content: "\e903";
      display: block;
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translateY(-60%);
    }
      &:hover:after{
          color: #fe5000;
      }
  }
  .l-InstagramPost__contentsBlock__visit__icon {
    display: none;
  }


  @include bp(lg) {
    margin-bottom: 40px;
    .l-Section__inner {
      padding: 32px 32px;
    }
    .l-InstagramPost__contentsBlock {
      width: 100%;
      max-width: 1118px;
      margin: 0 auto;
      .l-InstagramPost__contentsBlock__text {
        float: none !important;
        box-sizing: border-box;
        padding: 15px 30px;
        vertical-align: bottom;
        margin-left: auto;
        background: #fff;
      }
      .l-InstagramPost__contentsBlock__visit {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
    .l-InstagramPost__contentsBlock__date {
      margin-bottom: 15px;
      margin-top: 20px;
      display: inline-block;
    }
    .l-InstagramPost__contentsBlock__visit {
      top: 30px;
      margin-bottom: 15px;
      @include kms-fontFamily(subTitle);
      color: #d9d9d6 !important;
      line-height: 1;
      display: inline-block;
    }
    .l-InstagramPost__contentsBlock__image {
      &:after {
        width: 80%;
        height: 60%;
        left: -65%;
        background-color: #e4e2db;
        display: block;
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
      }
    }
    .l-InstagramPost__contentsBlock__image__inner {
      margin-right: 18%;
    }
    .l-InstagramPost__contentsBlock__postText__text {
      font-weight: bold;
      @include kms-fontFamily(subTitle);
      padding-right: 30px;
      a:link{
        color: #fe5000!important;
      }
    }
    .l-InstagramPostUnit {
      border: none;
      position: relative;
      z-index: 1;
      margin-bottom: 100px;
      padding: 0;
      width: 100%;
    }
    .l-InstagramPost__contentsBlock {
      position: relative;
      height: auto;
    }
    .l-InstagramPost__movieBlock {
      float: none !important;
      width: 66.7% !important;
      display: table-cell;
    }
    .l-InstagramPost__textBlock {
      float: none !important;
      width: 33.3% !important;
      display: table-cell;
      box-sizing: border-box;
      padding-left: 20px;
      padding-top: 40px;
      vertical-align: bottom;
    }
    .l-InstagramPost__textBlock__date {
      position: absolute;
      left: 20px;
      top: 30px;
    }
    .l-InstagramPost__textBlock__visit {
      display: inline-block;
      top: 30px;
    }
    .l-InstagramPost__textBlock__description {
      margin-bottom: 30px;
      .l-InstagramPost__textBlock__description__text {
        font-size: 14px;
      }
    }
    .l-InstagramPost__textBlock__listItem--viewCount {
      margin-right: 14px;
      .l-InstagramPost__textBlock__listItem__label {
        @include kms-fontSize(longcopy);
      }
    }
    .l-InstagramPost__textBlock__listItem__icon {
      @include kms-fontSize(longcopy);
    }
  }


  @include bp(md) {
    .l-InstagramPostUnit {
      margin-bottom: 50px;
    }
    .l-InstagramPost__contentsBlock__image {
      width: 40% !important;
      position: relative;
      margin-left: 10%;
      z-index: 1;
      &:before {
        width: 100%;
        height: 100%;
        left: -30%;
        background-color: #e4e2db;
        display: block;
        content: "";
        z-index: -1;
        position: absolute;
        top: 10%;
      }
    }
    .l-InstagramPost__contentsBlock {
      margin: 0 auto;
      width: 100%;
      .l-InstagramPost__contentsBlock__text {
        float: none !important;
        margin-left: auto;
        box-sizing: border-box;
        width: 50%;
        background: #fff;
      }
    }
    .l-InstagramPost__contentsBlock__visit {
      position: absolute;
      top: 4px;
      right: 2%;
      margin-bottom: 20px;
      @include kms-fontFamily(subTitle);
      @include kms-fontSize(longcopy);
      color: #d9d9d6 !important;
      line-height: 1;
      display: inline-block;
    }
    .l-InstagramPost__contentsBlock__postText {
      margin-right: 30px;
      margin-bottom: 20px;
    }
    .l-InstagramPost__contentsBlock__postText__text {
      padding-right: 24px;
    }
    .l-InstagramPostUnit {
      border: none;
      z-index: 1;
      padding: 0;
      width: 100%;
    }
    .l-InstagramPost__textBlock__visit {
      &.opt-hide-md {
        display: block !important;
      }
      &.opt-hide-lg {
        display: none;
      }
    }
  }


  @include bp(sm) {
    .l-InstagramPost__textBlock__visit {
      &.opt-hide-sm {
        display: block!important;
      }
      &.opt-hide-lg {
        display: none;
      }
    }
    .opt-hide-sm {
      display: block!important;
      font-size: 20px;
      .l-InstagramPost__contentsBlock__visit__icon {
        display: none;
      }
    }
    .opt-hide-md {
      display: none!important;
    }

    .l-InstagramPost__contentsBlock__image__inner {
      margin-right: 0;
    }
    .l-InstagramPost__contentsBlock__image {
      position: relative;
    }
    .l-InstagramPost__contentsBlock {
      margin: 0 auto;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
    }
    .l-InstagramPost__contentsBlock__text {
      float: none !important;
      margin-left: auto;
      box-sizing: border-box;
      width: 90%;
      min-height: 200px;
      background: #fff;
    }
    .l-InstagramPost__contentsBlock__visit {
      position: absolute;
      margin-left: 32px;
      margin-bottom: 20px;
      z-index: 2;
      color: #d9d9d6 !important;
      line-height: 1;
      top: 0;
      right: 8%;
    }
    .l-InstagramPost__contentsBlock__image {
      margin-bottom: 30px;
      &:before {
        width: 110%;
        height: 50%;
        left: -10px;
        background-color: #e4e2db;
        display: block;
        content: "";
        z-index: -1;
        position: absolute;
        bottom: 4%;
      }
    }
    .l-InstagramPost__contentsBlock__image__inner {
      margin-right: 0;
    }
    .l-InstagramPost__contentsBlock__postText {
      margin-right: 10px;
      margin-bottom: 30px;
    }
    .l-InstagramPost__contentsBlock__postText__text {
      padding-right: 0;
    }
    .l-InstagramPostUnit {
      border: none;
      position: relative;
      z-index: 1;
      width: 100%;
    }
  }
}
