@charset "utf-8";

#area-PageTop {
  display: none !important;
}

.kms-uppercase {
  text-transform: uppercase;
}

.cmn-richtext {
  a.kms-linktext {
    color: #7a7b75;
    &:hover {
      color: #fe5000;
    }
  }
}
