@charset "utf-8";

/* N010 MAIN NAVIGATION (Local) / N020 MAIN NAVIGATION (Global) */

.kmsHeader {
  position: absolute;
  z-index: 1000;
  width: 100%;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.kmsHeader__inner {
  position: relative;
  margin: 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
  @include pie-clearfix;
  transition: all .5s;
  &.is-active {
    background-color: #fff;
  }
}
.kmsHeader__menu-trigger {
  position: relative;
  display: block;
  float: left;
  background-color: #fff;
  width: 50px;
  height: 50px;
  transition: all .4s;
  span {
    position: absolute;
    left: 17.5px;
    display: block;
    transition: all .4s;
    width: 15px;
    height: 1px;
    background-color: #000;
    &:nth-of-type(1) {
      top: 17.5px;
    }
    &:nth-of-type(2) {
      top: 24.5px;
    }
    &:nth-of-type(3) {
      top: 31.5px;
    }
  }
  &:hover {
    span {
      background-color: #fe5000;
    }
  }
  .is-active & {
    span {
      &:nth-of-type(1) {
        @include animation(burger-top-open .5s linear normal);
        @include animation-fill-mode(forwards);
      }
      &:nth-of-type(2) {
        @include animation(burger-middle-open .5s linear normal);
        @include animation-fill-mode(forwards);
      }
      &:nth-of-type(3) {
        @include animation(burger-bottom-open .5s linear normal);
        @include animation-fill-mode(forwards);
      }
    }
  }
  .is-deactive & {
    span {
      &:nth-of-type(1) {
        @include animation(burger-top-close .5s linear normal);
        @include animation-fill-mode(forwards);
      }
      &:nth-of-type(2) {
        @include animation(burger-middle-close .5s linear normal);
        @include animation-fill-mode(forwards);
      }
      &:nth-of-type(3) {
        @include animation(burger-bottom-close .5s linear normal);
        @include animation-fill-mode(forwards);
      }
    }
  }
}
@include keyframes(burger-top-open) {
  0% {
    top: 17.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  50% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  70% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  100% {
    top: 24.5px;
    left: 15px;
    width: 20px;
    @include transform(rotate(-45deg));
  }
}

@include keyframes(burger-middle-open) {
  0% {
    top: 24.5px;
    @include transform(rotate(0deg));
  }
  50% {
    top: 24.5px;
    @include transform(rotate(0deg));
  }
  70% {
    top: 24.5px;
    @include transform(rotate(0deg));
  }
  100% {
    top: 24.5px;
    opacity: 0;
  }
}

@include keyframes(burger-bottom-open) {
  0% {
    top: 31.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  50% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  70% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  100% {
    top: 24.5px;
    left: 15px;
    width: 20px;
    @include transform(rotate(45deg));
  }
}

@include keyframes(burger-top-close) {
  0% {
    top: 24.5px;
    left: 15px;
    width: 20px;
    @include transform(rotate(-45deg));
  }
  30% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  40% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  100% {
    top: 17.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
}

@include keyframes(burger-middle-close) {
  0% {
    top: 24.5px;
    opacity: 0;
  }
  30% {
    top: 24.5px;
    opacity: 1;
    @include transform(rotate(0deg));
  }
  40% {
    top: 24.5px;
    opacity: 1;
    @include transform(rotate(0deg));
  }
  100% {
    top: 24.5px;
    opacity: 1;
    @include transform(rotate(0deg));
  }
}

@include keyframes(burger-bottom-close) {
  0% {
    top: 24.5px;
    left: 15px;
    width: 20px;
    @include transform(rotate(45deg));
  }
  30% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  40% {
    top: 24.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
  100% {
    top: 31.5px;
    left: 17.5px;
    width: 15px;
    @include transform(rotate(0deg));
  }
}

.kmsHeader__logo {
  float: right;
  height: 20px;
  padding: 15px 32px;
  transition: all .5s;
  .l-Image {
    width: 70px;
  }
  .is-active & {
    opacity: 0;
    .l-Image {
      &.is-link {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
.kmsHeader__search {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  transition: all .5s;
  opacity: 0;
  .l-Image {
    display: block;
    padding: 17.5px;
    &.is-link {
      pointer-events: none;
      cursor: default;
    }
  }
  .is-active & {
    opacity: 0.15;
    .l-Image {
      &.is-link {
        pointer-events: auto;
        cursor: pointer;
      }
    }
  }
}
.kmsHeader__mainmenu {
  position: relative;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0 10px;
  @include bp(sm) {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.kmsHeader__mainmenu__list {
  list-style-type: none;
  margin: 0;
  padding: 20px 27px 30px;
  @include bp(lg) {
    @include display-flex;
  }
}
.kmsHeader__mainmenu__item {
  margin: 0 5px;
  @include bp(lg) {
    @include flex(1 0 0%);
  }
  @include bp(md) {
    border-bottom: 1px solid #d9d9d6;
  }
  @include bp(sm) {
    margin: 0;
    border-bottom: 1px solid #d9d9d6;
  }
}
.kmsHeader__mainmenu__link {
  display: block;
  border-bottom: 1px solid #d9d9d6;
  text-align: center;
  @include kms-fontFamily(subTitle);
  font-size: 24px; //15px
  color: #000;
  line-height: 24px; //30px
  text-decoration: none;
  @include bp(md) {
    border: none;
  }
  @include bp(sm) {
    border: none;
    // font-size: 20px;
    line-height: 45px;
  }
  &:hover {
    color: #fe5000;
  }
  .l-Text {
    margin-bottom: 0;
    font-size: 24px; //15px
    color: #000;
    line-height: 24px; //30px
    text-decoration: none;
    letter-spacing: normal;
    @include bp(sm) {
      // font-size: 20px;
      line-height: 45px;
    }
  }
}

.kmsHeader__mainmenu--md {
  @include display-flex;
  @include justify-content(center);
  .kmsHeader__mainmenu__list {
    width: 160px;
    padding-left: 0;
    padding-right: 0;
  }
  .kmsHeader__submenu__item {
    margin: 0;
  }
  .kmsHeader__submenu__link {
    line-height: 25px;
    .l-Text {
      line-height: 25px;
    }
  }
}


.kmsHeader__mainmenu__sns__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px;
  width: 100%;
  @include display-flex;
  @include justify-content(center);
}
.kmsHeader__mainmenu__sns__item {
  padding: 0 10px;
}
.kmsHeader__mainmenu__sns__link {
  display: table-cell;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  //background-color: #000;
  font-size: 15px;
  line-height: 0;
  color: #d9d9d6 !important;
  &:hover {
    //background-color: transparent;
    color: #fe5000 !important;
  }
  .kms-icon {
    font-size: 15px;
    line-height: 15px;
  }
}

.kmsHeader__submenu {
  display: none;
}
.kmsHeader__submenu__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.kmsHeader__submenu__item {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  @include bp(sm) {
    margin-top: 0;
  }
}
.kmsHeader__submenu__link {
  display: block;
  @include kms-fontFamily(body);
  font-size: 18px; //12px
  line-height: 24px; //1
  color: #000;
  text-decoration: none;
  &:hover {
    color: #fe5000;
    .l-Text {
      color: #fe5000;
    }
  }
  .l-Text {
    @include kms-fontFamily(body);
    font-size: 18px; //12px
    line-height: 24px; //1
    color: #000;
    text-decoration: none;
    letter-spacing: normal;
    margin-bottom: 0;
    @include bp(md) {
      line-height: 17px;
    }
    @include bp(sm) {
      font-size: 18px; //20px
      line-height: 17px; //40px
    }
  }
  @include bp(md) {
    line-height: 17px;
  }
  @include bp(sm) {
    font-size: 18px; //20px
    line-height: 17px; //40px
  }
}
